.myContacts
{
    max-width: 1200px;
    margin: 0 auto;
    .contactWrapp
    {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        text-align: left;
        height: 280px;
        h1
        {
            font-weight: 700;
            font-size: 58px;
            color: #252B42;
        }
    }
}

@media (max-width: 480px) {
    .myContacts
    {
        .contactWrapp
        {
            h1
            {
                font-size: 30px;
               
            }
        }
    }
}