@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*
{
  font-family: "Montserrat", sans-serif;
}
body
{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,p
{
  margin: 0;
  padding: 0;
}